*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
footer .col  ul{
    list-style-type: none;
    
}
footer .col ul li{
    text-decoration: none;
    
}
html,body{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.navbar{
    background-color: #f7e5d2 !important;
}
.container-xxl{
    padding: 0;

}
.blok{
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 18vh;
}
.blok h1{
    font-size: 4rem;
    font-weight: 600;
}
.bar{
    padding: 4px;
    background-color: #383838 !important;
}
.bar hr{
    visibility: hidden;
}
.carousel-inner{
  height:500px;
}
.carousel-item{
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
.carousel-item  img{
    -webkit-filter: blur(1px); 
    -o-filter: blur(1px); 
    -ms-filter: blur(1px); 
    filter: blur(1px);
    opacity: 0.6;
    }
#carouselExampleInterval{
  position: relative;
}
.dbfab{
    background-color: #f7e5d2 !important;
}
.bor-right{
 border-right: 2px solid black;
}
footer{
    background-color: #383838 !important;
}
/*======================*/
@media only screen and (max-width: 925px) {
    .carousel-inner{
        height:450px;
    }
}
@media only screen and (max-width: 750px) {
    .carousel-inner{
        height:400px;
    }
}
@media only screen and (max-width: 400px) {
   .carousel-inner{
    height:300px;
    }
}